html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #434455;
  --primary-header-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --primary-cloud-color: #f4f4fd;
  --primary-accent-color: #E7E9FC;
}

.list-hidden {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
body,
p,
h2,
h3,
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* logo */
.logo-item {
  color: var(--primary-brand-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  margin-right: 77px;
}
.header-logo {
  color: var(--primary-header-color);
}
.footer-logo {
  color: var(--primary-cloud-color);
}
/* container */
.container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* top-line */
.page-header {
  color: var(--primary-header-color);
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container .header-nav,
.container .contact-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-items,
.contact-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 0px;
  gap: 40px;
}

.nav-list:last-child {
  margin-right: 331px;
}

.nav-item,
.contact-item,
.item-footer,
.project-item {
  text-decoration: none;
}

.contact-item {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.nav-item {
  color: var(--primary-header-color);
  font-weight: 500;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-item:hover,
.contact-item:hover {
  color: var(--primary-text-color);
}
.nav-item:focus,
.contact-item:focus,
.current {
  color: var(--primary-brand-color);
}
/* hero */
.hero {
  background-color: var(--primary-header-color);

  width: 1440px;
  height: 603px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  display: block;

  padding-top: 192px;
  padding-left: 474px;
  padding-right: 474px;
  margin-bottom: 48px;
  margin-top: 0;
}

.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  cursor: pointer;


  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* sections */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section:first-child {
  padding-bottom: 0;
}
/* features */
.container .list {
  width: 264px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  margin-right: 24px;
}
.list:last-child {
  margin-right: 0;
}
/* work */

.work-list {
display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
  border: 1px solid var(--primary-accent-color);
}
.work-list:first-child {
  margin-left: 0;
}

.section-title {
  color: var(--primary-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.team-title,
.features-title,
.project-title {
  color: var(--primary-header-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* team */
.section-team {
  background-color: var(--primary-cloud-color);
  width: 1440px;
  height: 732px;
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card {
  background-color: var(--primary-bg-color);

}
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 8px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}


/* footer */
.page-footer {
  background-color: var(--primary-header-color);

  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.page-footer .footer-item {
  display: block;
  width: 264px;
  margin-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-footer {
  color: var(--primary-accent-color);
  margin-top: 16px;
}

/* portfolio */
.portfolio {
  padding-bottom: 120px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin-top: 96px;
  margin-left: auto;
  margin-bottom: 72px;
  margin-right: auto;
}
.button {
  background-color: var(--primary-cloud-color);
  color: var(--primary-brand-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  height: 48px;
  padding: 8px 16px;
  border: 1px solid var(--primary-accent-color);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--primary-brand-color);
  color: var(--primary-bg-color);
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* project-card */
.project-items {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px; 
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
  border-left: 0.5px solid var(--primary-cloud-color);
  border-right: 0.5px solid var(--primary-cloud-color);
  border-bottom: 0.5px solid var(--primary-cloud-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.project-item {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: default;
}
.section-title {
  color: var(--primary-header-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
