html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #434455;
  --primary-header-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --primary-cloud-color: #f4f4fd;
}

.list-hidden {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
body,
p,
h2,
h3 {
  margin: 0;
}

/* logo */
.logo-item {
  color: var(--primary-brand-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-right: 77px;
}
.header-logo {
  color: var(--primary-header-color);
}
.footer-logo {
  color: var(--primary-cloud-color);
}
/* container */
.container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* top-line */
.page-header {
  color: var(--primary-header-color);
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container .header-nav,
.container .contact-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-items,
.contact-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 0px;
  gap: 40px;
}

.nav-list:last-child {
  margin-right: 331px;
}

.nav-item,
.contact-item,
.item-footer,
.project-item {
  text-decoration: none;
}

.contact-item {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.nav-item {
  color: var(--primary-header-color);
  font-weight: 500;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-item:hover,
.contact-item:hover {
  color: var(--primary-text-color);
}
.nav-item:focus,
.contact-item:focus,
.current {
  color: var(--primary-brand-color);
}
/* hero */
.hero {
  background-color: var(--primary-header-color);

  width: 1440px;
  /* height: 603px; */

  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;

  display: block;
  width: 492px;

  padding-top: 192px;
  padding-left: 474px;
  padding-right: 474px;
}

.hero-button {
  background-color: var(--primary-brand-color);
  color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 170px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  /* margin-left: auto;
  margin-right: auto; */
  /* margin-bottom: 192px; */
}

/* sections */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section:not(:last-child) {
  padding-bottom: 0;
}
/* features */
.container .list {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  margin-right: 24px;
}
.list:last-child {
  margin-right: 0;
}
/* work */

.container .work-list {
  width: 360px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
}
.work-list:first-child {
  margin-left: 0;
}
.section-title {
  color: var(--primary-header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.team-title,
.features-title,
.project-title {
  color: var(--primary-header-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* team */
.section-team {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  background-color: var(--primary-cloud-color);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
}

.team-card {
  background-color: var(--primary-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-left: 24px;
}
.team-card:first-child {
  margin-left: 0;
}

/* footer */
.page-footer {
  background-color: var(--primary-header-color);

  width: 1440px;
  height: 310px;
  margin-left: auto;
  margin-right: auto;
}
.footer-item {
  display: block;
  width: 264px;
  margin-left: 77px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-item .logo-item {
  margin-right: 0;
}
.text-footer {
  color: #e7e9fc;
  margin-top: 16px;
}

/* portfolio */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin-top: 96px;
  margin-left: auto;
  margin-bottom: 72px;
  margin-right: auto;
}
.button {
  background-color: var(--primary-cloud-color);
  color: var(--primary-brand-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  height: 48px;
  padding: 8px 16px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--primary-brand-color);
  color: var(--primary-bg-color);
  border: transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* project-card */
.project-items {
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 0px 16px; */
  gap: 8px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;
}
.project-items .project-item {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: default;
}
.project-item .section-title {
  color: var(--primary-header-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
